@model eShop.UI.ViewModels.CreateUserVM

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@if (ViewData["Errors"] != null)
{
    foreach (var error in ViewData["Errors"] as IList<string>)
    {
        <span>@error</span>
    }
}
<div class="form-group">
    <label asp-for="userDTO.Username" class="control-label"></label>
    <input asp-for="userDTO.Username" class="form-control" />
    <span asp-validation-for="userDTO.Username" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.Password" class="control-label"></label>
    <input asp-for="userDTO.Password" class="form-control" />
    <span asp-validation-for="userDTO.Password" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.FirstName" class="control-label"></label>
    <input asp-for="userDTO.FirstName" class="form-control" />
    <span asp-validation-for="userDTO.FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.LastName" class="control-label"></label>
    <input asp-for="userDTO.LastName" class="form-control" />
    <span asp-validation-for="userDTO.LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.VATNumber" class="control-label"></label>
    <input asp-for="userDTO.VATNumber" class="form-control" />
    <span asp-validation-for="userDTO.VATNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.Email" class="control-label"></label>
    <input asp-for="userDTO.Email" class="form-control" />
    <span asp-validation-for="userDTO.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.PhoneNumber" class="control-label"></label>
    <input asp-for="userDTO.PhoneNumber" class="form-control" />
    <span asp-validation-for="userDTO.PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.AddressNo1" class="control-label"></label>
    <input asp-for="userDTO.AddressNo1" class="form-control" />
    <span asp-validation-for="userDTO.AddressNo1" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.AddressNo2" class="control-label"></label>
    <input asp-for="userDTO.AddressNo2" class="form-control" />
    <span asp-validation-for="userDTO.AddressNo2" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="userDTO.ZipCode" class="control-label"></label>
    <input asp-for="userDTO.ZipCode" class="form-control" />
    <span asp-validation-for="userDTO.ZipCode" class="text-danger"></span>
</div>
<div>
    <label asp-for="CountryId" class="control-label"></label>
    @Html.DropDownList("CountryId", Model.Countries, "-", new { Class = "form-control", Id = "CountryId" })
</div>
<div>
    <label asp-for="StateId" class="control-label"></label>
    @Html.DropDownList("StateId", new SelectList(string.Empty, "Id", "Name"), "-", new { Class = "form-control", Id = "StateId" })
</div>
<div>
    <label asp-for="CityId" class="control-label">City</label>
    @Html.DropDownList("CityId", new SelectList(string.Empty, "Id", "Name"), "-", new { Class = "form-control", Id = "CityId" })
</div>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
