@page "/administration/product"
@*@inject IProductService ProductService*@
@*@inherits OwningComponentBase*@
@{
    //List<eShop.AdminUI.DtoModels.Product> Products;
}
<h3>Product</h3>


<div class="col-12">
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Products)
            {
                <tr>
                    <td>@prod.Name</td>
                    <td>@prod.Price</td>
                    <td>@prod.StockQty</td>
                    <td>@prod.Category.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    //public List<eShop.AdminUI.DtoModels.Product> Products { get; set; }
    ////private IProductService ProductService { get; set; }


    //protected override async Task OnInitializedAsync()
    //{
    //    Products = new List<DtoModels.Product>();
    //    //ProductService = ScopedServices.GetService<IProductService>();
    //    Products = (await ProductService.GetProductsAsync()).ToList();
    //}

}
