@{
    ViewData["Title"] = "Home";
    Layout = "../Shared/_LayoutAdmin";
}

<h1>Home</h1>
<h3>Success Login In</h3>

@if (User.Identity.IsAuthenticated)
{
    /*DEN paizei to label*/
    <label>User role: @User.Claims.ToList().FirstOrDefault(x=>x.Type == "Role")</label>
    <h3>@User.Identity.Name</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="jumbotron">
                    <h1 class="display-3">Products</h1>
                    <hr class="my-4">
                    <p>Create new products, update and delete!<br />Navigate in products list.</p>
                    <a href="@Url.Action("HomeV2","Product")"><button class="btn-primary">Enter</button></a>
                </div>
            </div>
            <div class="col-sm">
                <div class="jumbotron">
                    <h1 class="display-3">Orders</h1>
                    <hr class="my-4">
                    <p>Inspect the orders!</p>
                    <button class="btn-primary">Enter</button>
                </div>
            </div>
            <div class="col-sm">
                <div class="jumbotron">
                    <h1 class="display-3">Customers</h1>
                    <hr class="my-4">
                    <p>E-shop customers list!</p>
                    <button class="btn-primary">Enter</button>
                </div>
            </div>
        </div>
    </div>
}